<nav class="bg-gray-900">
    <ul class="block md:flex sm:text-center text-left text-white ml-20">
        <li class=" p-6 "><a href="/" class="hover:text-blue-200">Home</a></li>
        <li class=" p-6 "><a href="/About us" class="hover:text-blue-200">About us</a></li>
        <li class=" p-6 "><a href="/Features" class="hover:text-blue-200">Features</a></li>
        <li class=" p-6 "><a href="/FAQ" class="hover:text-blue-200">FAQ</a></li>
    </ul>
</nav>